<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">
		a{
			color : red;
			text-decoration: none;
			transition: width 1s;
		}
		a:hover{
			color:darkblue;
			background-color: pink;
			font-size: 30px;
			transition-timing-function: ease-in-out;
		}
		th{
			border: 2px green solid;
		}
	</style>
</head>
<body>
<table
	<tr>
<th width="500px">File name </th>
<th> Date created</th>
	</tr>
	<!ejs code for displaying file info in the page>
		<% fileinfo.forEach(function(file){%>
		<% var lin = "/download/"+file.filename; %>
		<tr>
		<td><li><a href="<%=lin%>"><%=file.filename%></a></li></td><td><%=file.filetime%></td></tr>
		<%})%>
	</ul>
</table>

	<hr>
	<form method="post" enctype="multipart/form-data" action="/uploadfile">
		<input type="file" name="newfile" multiple>
		<button>Upload</button>
	</form>
<footer style="bottom: 0px"><h1><b>A PKG CREATION.</b></h1></footer>

</body>
</html>
